$background: #282a36;
$background-2: #36394b;
$foreground: #f8f8f2;
$foreground-2: #6b7285;

$red: #a63d40;
$yellow: #aa9e42;
$green: #90a959;
$blue: #6494aa;


$red-card: linear-gradient(60deg, #282a36 0%, #5e2d2d 100%);
$blue-card: linear-gradient(60deg, #282a36 0%, #2d425e 100%);
$green-card: linear-gradient(60deg, #282a36 0%, #2d5e35 100%);
$yellow-card: linear-gradient(60deg, #282a36 0%, #595e2d 100%);
$spec-card: linear-gradient(60deg, #282a36 0%, #36394b 100%);