@import './variables.scss';

nav {
	display: none;
}

.parchis-container {
	overflow: hidden;
	position: relative;
	background-color: $background;
	color: $foreground;
	height: 100%;
	
	button {
		font: inherit;
		color: $foreground;
		background-color: $background;
		border: 3px solid $foreground;
		transition: all .2s;
	}

	button:hover {
		color: $background;
		background-color: $foreground;
	}
}